.bottom-bar {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 6px;

    display: flex;
    width: 100%;

    &__wrapper {
        display: flex;
        width: 100%;
        border: 1.5px solid #000000;

        @media (max-width: 768px) {
            padding: 15px 0;
        }

        .left,
        .right {
            transition: .5s ease-in-out;
        }

        .left {
            opacity: 0;
        }

        .right {
            opacity: 1;
        }

        &.scrolled {
            .left {
                opacity: 1;
            }

            .right {
                opacity: 0;
            }
        }

        .pop-up {
            max-width: 283px;
            font-family: Augustea;
            font-size: 15px;
            line-height: 23px;
            padding: 15px 20px;
            position: absolute;
            top: -62px;
            left: 0;
            right: 0;
            margin: auto;
            background-color: white;
            border-radius: 12px;
            display: none;
            opacity: 0;
            transition: opacity .5s .5s;

            @media (min-width: 680px) and (max-width: 768px) {
                max-width: 320px;
            }

            @media (max-width: 680px) {
                top: -80px;
            }

            &::after {
                content: '';
                height: 25px;
                width: 25px;
                background-color: white;
                display: flex;
                position: absolute;
                right: 10%;
                transform: skew(0deg, 45deg);
            }

            &.show {
                display: block;
                transition: opacity .5s .5s;
            }
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        padding: 0 8px;
        z-index: 9999;

        &:first-child {
            rotate: 180deg;
        }
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        list-style-type: none;
        position: relative;
        transition: .5s;
        margin: 0 auto;
        
        @media (max-width: 768px) {
            justify-content: flex-start;
            gap: 10px;
            width: calc(100% - 44px);
            gap: .6vw;
        }

        @media (max-width: 680px) {
            gap: 2.8vw;
        }

        @media (max-width: 424px) {
            gap: 3vw;
        }
    }

    &__item-wrapper {
        position: relative;
        cursor: grab;
        &.hide {
            opacity: 0;
            transition: .3s;
        }
    
        @media (max-width: 768px) {
            min-width: 14vw;
            display: flex;
            justify-content: center;
        }

        @media (max-width: 680px) {
            min-width: 11.5vw;
        }

        @media (max-width: 500px) {
            min-width: 13.5vw;
        }

        @media (max-width: 424px) {
            min-width: 12.5vw;
        }
    }

    &__icon {
        width: 2vw;
        height: 2vw;
        position: absolute;
        right: .5vw;
        top: .5vw;
        z-index: 2;
        transition: .2s;
        border-radius: 50%;
        transition-delay: .1s;
        opacity: 0;
        background-color: white;
        pointer-events: none;
        user-select: none;

        @media (max-width: 768px) {
            width: 3vw;
            height: 3vw;
        }

        @media (max-width: 500px) {
            width: 4vw;
            height: 4vw;
        }


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__item {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    &__arrow {
        display: none;

        @media (max-width: 768px) {
            display: flex;
        }
    }


    &__picture {
        width: 125px;
        height: 125px;
        background-size: cover;
        background-position: center;
        transition: .5s;

        &:hover {
            scale: 1.35;
        }

        @media (max-width: 1200px) {
            width: 100px;
            height: 100px;
        }

        @media (max-width: 992px) {
            width: 75px;
            height: 75px;
        }

        
        @media (max-width: 680px) {
            width: 100%;
            height: 80px;
        }

        @media (max-width: 424px) {
            height: 60px;
        }
    }
}