.game {
    padding: 32px;

    height: 100vh;
    width: 100vw;
    overflow: hidden;

    cursor: grab;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    background-position-x: center;

    opacity: 0;
    transition: .3s;

    @media (max-width: 768px) {
        padding: 32px 16px;
        background-position-y: 25%;
        background-size: 220%;
        background-position-x: center;
    }

    @media (max-width: 992px) and (max-height: 415px) {
        height: auto;
        padding: 40px;
        // background-size: 200%;
        background-position-y: center;
    }

    &__parfumes,
    .score-board,
    .bottom-bar {
        opacity: 0;
        transition-property: opacity;
        transition-duration: .5s;
    }

    &__parfumes {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        max-width: max-content;
        max-height: max-content;
        z-index: 1;
        user-select: none;
        transition-delay: .3s;
        padding-top: 8vh;

        display: flex;

        @media (max-width: 992px) and (max-height: 415px) {
            position: relative;
        }

        picture {
            display: flex;
            position: relative;

            &:first-child,
            &:last-child {
                img {
                    position: relative;
                    bottom: 40px;
                }
            }
        }
    }

    &__bottle {
        @media (min-width: 1440px) {
            //max-height: 60vh;
            //aspect-ratio: 5/14;
            height: 70vh;
        }

        @media (max-width: 1200px) {
            max-height: 50vh;
            aspect-ratio: 5/14;
        }

        @media (max-width: 600px) {
            max-height: 30vh;
            aspect-ratio: 10/28;
        }

        @media (max-width: 992px) and (max-height: 415px) {
            max-height: 80vh;
            aspect-ratio: 5/14;
        }
    }

    .score-board {
        transition-delay: .5s;

        @media (max-width: 992px) and (max-height: 415px) {
            margin-bottom: 20px;
        }
    }

    .bottom-bar {
        position: relative;
        z-index: 2;
        transition-delay: .7s;

        @for $i from 1 through 9 {
            .bottom-bar__item:nth-child(#{$i}) {
              .bottom-bar__picture {
                opacity: 0;
              }
            }
        }
    }
}