.win-page {
    height: 100vh;
    width: 100vw;

    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: all .3s .3s;

    font-family: Augustea;

    &__card {
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        padding: 12px;
        border-radius: 5px;
        opacity: 0;
        transition: all .5s .8s;
    }

    &__text-wrapper {
        border: 1.5px solid #000000;
        padding: 27px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 96px;
            font-weight: 500;
            line-height: 134px;
        }

        h2 {
            font-size: 40px;
            font-weight: 500;
            line-height: 48px;
            margin-bottom: 45px;
        }

        .button {
            max-width: max-content;
            opacity: 0;
            transition: all .5s 1.2s;

            .play-button {
                padding: 0;
            }
        }
    }
}